<html>
    <head>
        <title>Customer Details</title>
    </head>
    <body>
        <h1>Customer Details</h1>
        <table>
            <tr>
                <td>Id</td>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>{{ customer.created_at }}</td>
            </tr>
            <tr>
                <td>Updated At</td>
                <td>{{ customer.updated_at }}</td>
            </tr>
            <tr>
                <td>Deleted At</td>
                <td>{{ customer.deleted_at }}</td>
            </tr>
        </table>
    </body>
</html>
